*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', gilroy;
    font-weight: 400;
}

body{
    --black: black;
    --white: white;
    --secondary: #1D1D1D;

    background-color: var(--black);
    width: 90%;
    margin: 0 auto;
    transition: all 400ms;
}
body.light{
    --black: white;
    --white: black;
    --secondary: #ececec;
}
::selection{
    background: #F6E486;
}
::-webkit-scrollbar{
    width: 0px;
  }
::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 0px;
  }