*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-weight: 400;
}
body{
    background-color: black;
    width: 90%;
    margin: 0 auto;
}
::selection{
    background: #F6E486;
}